<div class="jumbotron">
    <h1 class="display-3">Jidapa tassanakul</h1>
    <p class="lead">5930213035</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Submit</a>
    </p>
</div>

</div>
<div class="row">
    <div class="col">
        <p class="text-center">@Copyright 1997</p>
    </div>
</div>
</div>

</body>

</html>