<% include ../partials/header %>
<table class="table">
    <thead>
        <tr>
            <th>sid</th>
            <th>title</th>
            <th>firstname</th>
            <th>lastname</th>
        </tr>
    </thead>
    <tbody>
        <% students.forEach(function(students){%>
            <tr>
                <td scope="row">
                    <%= students.sid%>
                </td>
                <td scope="row">
                    <%= students.title%>
                </td>
               
                <td scope="row">
                    <%= students.firstname%>
                </td>
               
                <td scope="row">
                    <%= students.lastname%>
                </td>
               
            </tr>
            <%}); %>
    </tbody>
</table>


<% include ../partials/footer %>